<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <p>
    <p><a href="/api/v1.0/precipitation">/api/v1.0/precipitation -Date & precipitation</a></p>
    <p><a href="/api/v1.0/stations">/api/v1.0/stations -Return list of station names</a></p>
    <p><a href="/api/v1.0/tobs">/api/v1.0/tobs -Return temperatures for last 12 months of Entries</a></p>  
    <p>/api/v1.0/start-date/end-date   -Return temperatures for desired dates</p>
    <p>Enter /api/v1.0/start-date/9999 to find avg, min, max temps since start date</p>
    <p>Ex: /api/v1.0/2012-02-02/9999</p>
    <p>Enter /api/v1.0/start/end to find avg, min, max temps between dates</p>
    <p>Ex: /api/v1.0/2012-02-02/2014-02-02</p>
    
</body>
</html>